body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
    margin: 10px;
    line-height: 1;
    width: 1103px;
    margin-left: 123px;
    margin-top: 0px;
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

/*
a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}
*/
.coluna-produtos{
    width: 280px !important;
    padding-right: 0px !important;
}

.link-dropdown{
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
}

.link-dropdown:hover,
.link-dropdown:focus{
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.link-dropdown > .active > a,
.link-dropdown > .active > a:hover,
.link-dropdown > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #428bca;
  outline: 0;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999999;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.busca{
    margin-top: 22px !important;
}

.menu-dropdown{
    margin-top:15px !important;
    margin-left: -70px !important;
}

.navegacao-direita
{
    margin-top: 13px !important;
}

.separacao-por-baixo
{
    margin-bottom: 10px;
}

.separacao-por-baixo20
{
    margin-bottom: 20px;
}

.separacao-lat-direira10
{
    margin-right: 5px;
}

.lado-a-lado
{
    float:left;
}

.carrinho > thead > tr > th
{
    text-align: center !important;
}

.carrinho > tbody > tr > td
{
    text-align: center !important;
}

.texto-centralizado
{
    text-align:center;
}

.link-logout
{
    color: #428bca !important;
    text-decoration: none !important;
}

.link-logout:hover
.link-logout:focus
{
    color: #2a6496 !important;
    text-decoration: underline !important;
}

.link-logout:focus
{
    outline: thin dotted #333 !important;
    outline: 5px auto -webkit-focus-ring-color !important;
    outline-offset: -2px !important;
}

.espaco-lat-dir-10{
    padding-right: 10px;
}

.select > input{
    margin-right: 10px;
}